@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.splitClass {
  /* width: 1400px; */
  height: calc(100vh - 3.5rem);
}
.gutter.gutter-horizontal {
  cursor: col-resize;
  position: relative;
  left: 2px;
}
.email-SVG {
  background-image: url(./assets/email-icon.svg);
  background-size: 13px;
  background-position-y: center;
  background-repeat: no-repeat;
  background-position-x: 6px;
  opacity: 75%;
}
.username-SVG {
  background-image: url(./assets/username-icon.svg);
  background-size: 13px;
  background-position-y: center;
  background-repeat: no-repeat;
  background-position-x: 6px;
  opacity: 75%;
}

.password-SVG {
  background-image: url(./assets/password-icon.svg);
  background-size: 13px;
  background-position-y: center;
  background-repeat: no-repeat;
  background-position-x: 6px;
  opacity: 75%;
}
.facebook-shadow {
  box-shadow: 0 1px 5px 6px rgba(0, 0, 0, 0.035);
  padding-top: 13.5px;
}
.google-shadow {
  box-shadow: 0 1px 5px 6px rgba(0, 0, 0, 0.035);
  padding-top: 10px;
}
.waveform-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background: transparent;
}
.wave {
  width: 100%;
  height: 90px;
  position: inherit;
}
.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #efefef;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 3px;
}
